</body>
  <footer>
    <div class="">
      <a href="/">Daily list</a>
      <a href="work">Work list</a>
      <a href="about">About</a>
    </div>
    <p>Copyright 2022 TheCulosride</p>
  </footer>
</html>
